body{
    margin: 0;
    
}
h1{
    margin-top: 0;
}
.first-container{
    display: inline-block;
    top:0;
    background-color: #42A5F5;
    height: 200px;
    width: 200px;
    position: relative;

}
.middle-container{
    display: inline-block;
    right:10px;
    background-color: red;
    height: 200px;
    width: 200px;
    position: relative;
}
.bottom-container{
    display: inline-block;
    background-color:yellow;
    right: 20px;
    height: 200px;
    width: 200px;
    position: relative;
}