body{
    margin: 0;
    background-color: #42a4f538;
    font-family: 'Merriweather', serif;
    
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.6rem;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a{
    color: #11999E
}
span{
    text-decoration: underline;
}
.top-container{
    text-align: center;
    position: relative;
    padding-top: 100px;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    
    
}
.middle-container{
    text-align: center

}
.bottom-container{
    text-align: center
}
.skill-row{
    width: 50%;
    margin:100px auto;
    text-align: left;
    line-height: 2;
    
}
.computer-img{
    width:25%;
    float: left;
    margin-right: 30px;
}
.code-skill-descraption{
    clear:left;
}
.chillie-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.chillie-skill-descraption{
    clear: right;
}